* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  border: 1px solid black;
  /* justify-content: auto; */
}

main {
  border: 1px solid red;
  width: 600px;
  height: 600px;
  padding: 10px;
  margin: 10px;
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  gap: 10px;
}

main div {
  border-radius: 10px;
}

main .container {
  background-color: rgb(154, 154, 207);
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top div {
  border: 1px solid black;
  width: 40%;
  height: 40%;
  padding: 10px;
  margin: 10px;
}

.middle {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  height: 400px;
  padding: 10px;
}

/* .middle {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  gap: 10px;
  height: 400px;
  padding: 10px;
} */

/* .middle div{
  display: flex;
  justify-content: center;
  align-items: center;
} */

.bottom {
  height: 100px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}